.bag{
    background:#be9517;
    color: white;
}
.shoes{
color: rgb(243, 240, 236);
background-color: red;
}
.pandared{
    background-color: blue;
    color: white;
}
.bg{
    background-color:#fceae8 ;
}
.btn{
background-color:#ed4c7c ;
}
.color{
    background-color:#fceae9 ;
}